# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.cmake
*.xml
*.bin
*.txt
*.make
cmake-build-debug/example/Makefile
*.log
cmake-build-debug/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/feature_tests.c
cmake-build-debug/CMakeFiles/feature_tests.cxx
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/conhash.cbp
cmake-build-debug/example/CMakeFiles/progress.marks
cmake-build-debug/Makefile
cmake-build-debug/src/CMakeFiles/progress.marks
cmake-build-debug/src/Makefile
*.iml
